In [1]:
import numpy as np
import pandas as pd

import sklearn

table = dict()
table["population"]  = pd.read_csv("data/population.csv")
table["pcgdp"]       = pd.read_csv("data/pcgdp.csv")
table["electricity"] = pd.read_csv("data/electricity.csv")
table["winter_raw"]  = pd.read_csv("data/winter.csv")

drop_from = 1960
drop_to = 1991
years_to_drop = [str(i) for i in range(drop_from, drop_to)]
for key, _ in table.items():
    print(key)
    table[key] = table[key].drop(columns=years_to_drop)

population
pcgdp
electricity

In [2]:
table["population"].describe()

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
count,2.620000e+02,2.610000e+02,2.610000e+02,2.610000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.630000e+02,2.630000e+02,2.630000e+02,...,2.630000e+02,2.630000e+02,2.630000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,2.620000e+02,0.0,0.0
mean,2.134405e+08,2.178132e+08,2.213804e+08,2.249049e+08,2.275715e+08,2.310352e+08,2.345038e+08,2.370261e+08,2.404018e+08,2.437446e+08,...,2.743725e+08,2.779127e+08,2.814389e+08,2.861268e+08,2.898075e+08,2.935173e+08,2.972352e+08,3.009801e+08,NaN,NaN
std,6.836446e+08,6.961000e+08,7.073090e+08,7.183989e+08,7.282225e+08,7.391476e+08,7.500845e+08,7.595665e+08,7.701604e+08,7.805903e+08,...,8.736656e+08,8.842899e+08,8.949399e+08,9.073509e+08,9.183373e+08,9.293896e+08,9.404528e+08,9.515836e+08,NaN,NaN
min,9.053000e+03,9.109000e+03,9.156000e+03,9.190000e+03,9.230000e+03,9.256000e+03,9.277000e+03,9.306000e+03,9.345000e+03,9.420000e+03,...,1.002800e+04,1.002500e+04,1.005700e+04,1.027900e+04,1.081900e+04,1.090800e+04,1.100100e+04,1.109700e+04,NaN,NaN
25%,1.045433e+06,1.062800e+06,1.088569e+06,1.112846e+06,1.126123e+06,1.140262e+06,1.156145e+06,1.166084e+06,1.198096e+06,1.231483e+06,...,1.425982e+06,1.443678e+06,1.465471e+06,1.415726e+06,1.431560e+06,1.447306e+06,1.471523e+06,1.522803e+06,NaN,NaN
50%,7.147575e+06,7.382000e+06,7.495000e+06,7.583954e+06,7.655178e+06,7.740222e+06,7.854552e+06,7.913000e+06,7.992324e+06,8.048600e+06,...,9.298515e+06,9.378126e+06,9.460802e+06,9.624267e+06,9.746730e+06,9.879129e+06,1.002115e+07,1.012427e+07,NaN,NaN
75%,4.276932e+07,4.374796e+07,4.419463e+07,4.464154e+07,4.462919e+07,4.509184e+07,4.555807e+07,4.562322e+07,4.625767e+07,4.704225e+07,...,5.038575e+07,5.087028e+07,5.140827e+07,5.249529e+07,5.318760e+07,5.396340e+07,5.493841e+07,5.590466e+07,NaN,NaN
max,5.375489e+09,5.459754e+09,5.544873e+09,5.628791e+09,5.713794e+09,5.796632e+09,5.879434e+09,5.961166e+09,6.041819e+09,6.121683e+09,...,6.849573e+09,6.932881e+09,7.014999e+09,7.099549e+09,7.185078e+09,7.271228e+09,7.357370e+09,7.444027e+09,NaN,NaN

In [3]:
table["pcgdp"].describe()

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
count,222.000000,222.000000,226.000000,228.000000,237.000000,238.000000,237.000000,239.000000,240.000000,245.000000,...,250.000000,250.000000,250.000000,246.000000,247.000000,246.000000,245.000000,237.000000,0.0,0.0
mean,6001.202196,6313.158199,6057.158066,6364.049259,7132.467571,7456.511874,7214.650849,7426.157078,7757.638559,7629.505394,...,13588.866203,14298.180545,15736.871568,15104.972230,15573.331378,15515.773872,13917.350066,12745.478087,NaN,NaN
std,10110.437511,10858.826337,10352.997481,11032.680085,12487.731776,12714.418882,11872.491426,12279.230340,12826.784611,12334.475766,...,21079.805989,21638.192903,23893.064298,21606.460500,22787.792617,22812.716950,20393.585544,17172.690157,NaN,NaN
min,137.982562,110.494288,80.190056,65.676877,65.011416,72.746225,125.462747,124.505623,102.644799,123.876206,...,204.944650,231.194326,260.479907,265.285605,282.755525,312.748979,300.676557,285.727442,NaN,NaN
25%,584.260446,502.122344,531.292854,510.524476,576.052319,585.832861,586.284330,576.151893,591.547675,622.742748,...,1255.853139,1555.547218,1703.504313,1770.871134,1861.059425,2010.251039,1862.167274,1772.215255,NaN,NaN
50%,1585.728777,1552.272887,1529.089541,1637.068757,1991.514981,2111.864948,2056.200186,2006.256910,1930.576538,1854.145956,...,4622.612335,5133.442629,5765.315089,6338.000552,6353.826383,6382.782373,5814.863134,5274.546008,NaN,NaN
75%,5920.502507,6668.179237,6342.492165,6147.517252,6748.931109,7219.309007,7327.934445,7900.620838,8151.498599,8601.185906,...,14671.958610,15639.528114,17243.737156,16260.804677,16604.059578,16474.291830,16129.049283,14912.686543,NaN,NaN
max,83732.701453,91654.119007,85421.725834,89404.073321,101993.122374,101328.794623,90882.921883,93093.258537,91383.940493,82534.873767,...,152111.598027,144246.368775,162009.877819,149295.646044,173528.150454,179308.075616,168146.015281,100738.684223,NaN,NaN

In [4]:
table["electricity"].describe()

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Unnamed: 62
count,251.000000,251.000000,251.000000,252.000000,255.000000,256.000000,256.000000,256.000000,256.000000,257.000000,...,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,261.000000,0.0,0.0
mean,66.970359,67.658785,68.201201,68.819778,69.769111,70.652038,71.184804,71.885474,72.603323,73.240085,...,78.813311,78.801051,79.899944,80.799870,81.297611,82.082864,82.750795,83.550868,NaN,NaN
std,37.142282,36.800202,36.501999,36.156386,35.648829,35.136836,34.805971,34.261124,33.782445,33.369147,...,29.788237,29.923153,28.842930,28.300432,28.055591,27.352842,26.898025,25.961317,NaN,NaN
min,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,0.010000,...,1.900000,0.000000,3.918669,4.912345,5.915033,6.923728,7.252090,7.588477,NaN,NaN
25%,33.616261,35.203474,36.787632,36.670809,41.066517,42.748812,42.380551,44.879803,47.375000,49.958664,...,62.982807,64.350000,66.062515,68.796662,69.796356,71.673798,71.500000,75.920000,NaN,NaN
50%,86.442174,86.580068,87.418197,87.841311,88.487887,89.426833,89.824309,90.496158,91.062653,91.579251,...,96.779938,97.000000,97.490799,97.824120,98.385853,98.701241,99.032677,99.427812,NaN,NaN
75%,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
max,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN